header, h1{
    text-align: center;
    font-size: 20px;
}
body{
    background-color: white;
}
.start-button{
        display: inline-block;
        margin: auto;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: slategray;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px black;
}     
#timer{
        display: inline-block;
        margin: auto;
        padding: 15px 25px;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: slategray;
        border: none;
        border-radius: 15px;

}
.start-button:hover {background-color: slategray}

.start-button:active {
        background-color: slategray;
        box-shadow: 0 5px black;
        transform: translateY(4px);;
    }
.start-box, .question-box{
    position: absolute; 
    top: 50%;
    left: 50%;
    padding-bottom: 25px;
    transform: translate(-50%, -50%);
    width: 600px;
    background: white;
    border-radius: 5px;
    border: solid black;
    visibility: hidden;
}
.timer{
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.option{
    text-align: center;
    background-color: lavender;
    border: 1px solid plum;
    border-radius: 5px;
    padding: 8px 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
}
.option:hover{
    background: #84c5fe;
}
#generate{
        display: inline-block;
        margin: auto;
        padding: 15px 25px;
        font-size: 10px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: slategray;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px black;
}
#generate:hover {background-color: slategray}

#generate:active {
        background-color: slategray;
        box-shadow: 0 5px black;
        transform: translateY(4px);;
}
